<hr />

<button class="btn btn-primary" (click)="showTab = !showTab">Toggle tab 4</button>


<app-bs-tab-group>
  <app-tab-panel title="Tab 1">
    <ng-template tabContent>
      content tab 1
      <app-count></app-count>
    </ng-template>
  </app-tab-panel>
  <app-tab-panel title="Tab 2">
    <ng-template tabContent>
      content tab 2
      <app-count></app-count>
    </ng-template>
  </app-tab-panel>
  <app-tab-panel title="Tab 3">
    <ng-template tabContent>
      content tab 3
      <app-count></app-count>
    </ng-template>
  </app-tab-panel>
  <app-tab-panel title="Tab 4" *ngIf="showTab">
    <ng-template tabContent>
      content tab 4
      <app-count></app-count>
    </ng-template>
  </app-tab-panel>
</app-bs-tab-group>
<hr />
