
<h1>Angular Date</h1>
<p>{{ currentDate | date}}</p>
<hr/>
<p>{{ currentDate | date:"short"}}</p>
<hr/>
<p>{{ currentDate | date:"shortDate"}}</p>
<hr/>
<p>{{ currentDate | date:"mediumTime"}}</p>
<hr/>

<h2>Custom format</h2>
<p>{{ currentDate | date:'dd/MM/YYYY'}}</p>

<h2>Number</h2>
<p>{{ 1.323232 | number:'1.1-3' }}</p>
<p>{{3.6 | number: '1.0-0'}}</p>
<p>{{-3.6 | number:'1.0-0'}}</p>

<h2>Json</h2>
<p>{{user | json}}</p>

<h2>Async</h2>
<p>{{ interval$ | async }}</p>
<p>{{ address | formatAddress }}</p>
<p>{{ address | formatAddress:"parameter 111" }}</p>

<div class="col-xs-6">
  <h2>Full user list</h2>
  <div *ngFor="let user of users">{{ user.name }} | {{user.age}}</div>
</div>

<div class="col-xs-6">
  <h2>Full user Adu</h2>
  <div *ngFor="let user of users | adu">{{ user.name }} | {{user.age}}</div>
</div>

<button (click)="onAddUser()">addUser</button>
<hr/>

<h2>counter: {{counter$ | async}}</h2>

<br>
